<%= render  partial: '/layouts/nav' %>
<div class="container">
  <h1 class="center">Welcome
    <%= @user.email %>
  </h1>


<%= render partial: '/layouts/current_temp' %>
<%= render partial: '/layouts/forecast' %>

  </div>