<%= render  partial: '/layouts/nav' %>

<div class="container">
  <div class="center">
    <h1>Welcome to Boothfairy</h1>
    <div id="login-button"><%= button_to "Log in", new_user_session_path, class: "btn-large" %> </div>
    
  </div>
</div>